{% extends 'base.html' %}
{% block title %}
Online Drive
{% endblock %}
{% block body %}
    <h2>Hello, {{ current_user.username }}</h2>
    <p>Username: {{ current_user.username }}</p>
    <p>Email: {{ current_user.email }}</p>
    <p>Premium: {{ 'Yes' if current_user.premium else 'No' }}</p>
    {% if current_user.premium %}
      <p>You are a premium member!</p>
    {% else %}
      <form action="{{ url_for('buy_premium') }}" method="post">
        <button type="submit" class="btn btn-primary">Buy Premium</button>
      </form>
    {% endif %}
{% endblock %}